# ignore the .env file
.env

# ignore the node_modules directory
node_modules/

# ignore the build directory
/dist

# ignore the .gitignore file
# .gitignore

# ignore editor directories and files
.vscode/*

# ignore the .DS_Store file
.DS_Store

# ignore the .gitignore file
.gitignore